body {
    margin: 0 auto;
}

.main {
    margin: 0 auto;
    width: 300px;
    margin-top: 50px;
    box-sizing: border-box;
}
.inp {
    width: 300px;
    box-sizing:  border-box;
    border: 1px solid black;
}


.list div:hover{
    background-color: gainsboro;
    cursor: pointer;
}