body {
    margin: 0 auto;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    height: 10000px;
    position: relative;
}

.banner {
  
    position: fixed;
    top: 30%;
    left: 45%;
    width: 10%;
    height: 15%;
    border-radius: 5px;
    display: none;
    z-index: 9999999999;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    transition: opacity .25s ease-out .2s;
}

.text {
    display: flex;
    position: absolute;
    top: 40%;
    left: 35%;
}

.close {
    position: absolute;
    right: 10px;
    top : 5px;
    justify-self: flex-end;
    width: fit-content;
    height: fit-content;
}
.close:hover{
    cursor: pointer;
}